@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
}

@model IEnumerable<CruzITELEC1C.Models.Instructor>

<h1>Instructor View</h1>

<table class="table table-dark">
    <tr>
        <th>ID</th>
        <th>First Name </th>
        <th>Last Name </th>
        <th>Tenured </th>
        <th>Rank </th>
        <th>Date Hired </th>
        <th>Show Details</th>
        <th>Update</th>
    </tr>
    @{
        foreach (var element in Model)
        {
            <tr>
                <td>@element.InstructorId</td>
                <td>@element.InstructorFirstName</td>
                <td>@element.InstructorLastName</td>
                <td>
                    @{

                        if (@element.IsTenured == true)
                        {
                            <span>Full-Time</span>
                        }
                        else
                        {

                            <span>Part-Time</span>
                        }
                    }
                </td>
                <td>@element.Rank</td>
                <td>@element.DateHired</td>
                <td>
                        <a asp-action="ShowDetails" asp-route-id="@element.InstructorId" class="btn btn-primary">Show Details</a>
                </td>
                <td>
                    <a asp-action="UpdateInstructor" asp-route-id="@element.InstructorId" class="btn btn-primary">Update</a>
                </td>
            </tr>
        }
    }
</table>
</div>