@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using CruzITELEC1C.Models;
@{
    //use viewbag to get data from controller to view
}

@model IEnumerable<CruzITELEC1C.Models.Student>

<h1> Student List</h1>
<br />

<table class="table table-dark">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Course</th>
        <th>Date Enrolled</th>
        <th>Show Details</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>

    @{
        foreach (var student in Model)
        {
            <tr>
                <td>@student.StudentId</td>
                <td>@student.StudentName</td>
                <td>@student.StudentEmail</td>
                <td>@student.Course</td>
                <td>@student.DateEnrolled</td>
                <td>
                    <a asp-action="ShowDetails" asp-route-id="@student.StudentId" class="btn btn-primary">Show Details</a>
                </td>
                <td>
                    <a asp-action="UpdateStudent" asp-route-id="@student.StudentId" class="btn btn-primary">Update</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@student.StudentId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }

    }
</table>
<a class="btn btn-primary" asp-action="AddStudent">Add Student</a>