@model Student;


<h2>Student Details</h2>


<table class="table table-dark">
    <tr>
        <th>Student ID</th>
        <td>@Model.StudentId</td>
    </tr>
    <tr>
        <th>Student Name</th>
        <td>@Model.StudentName</td>
    </tr>
    <tr>
        <th>Student Email</th>
        <td>@Model.StudentEmail</td>
    </tr>

    <tr>
        <th>Student Course</th>
        <td>@Model.Course</td>
    </tr>

    <tr>
        <th>Date Enrolled</th>
        <td>
            @Model.DateEnrolled
        </td>
    </tr>
</table>

<button type="button" onclick="history.back()" class="btn btn-secondary p-20">Back</button>
